<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="gui" default="true" />
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="uav_name" default="quadrotor"/>
  <!-- <arg name="uav_name" default="csl_2k19"/> -->
  <!-- <arg name="uav_name" default="csl_2k21"/> -->

  <arg name="model" default="$(find last_letter_2)/config/param/aircrafts/$(arg uav_name)/urdf/model.urdf.xacro"/>
  <arg name="can_model" default="$(find last_letter_2)/config/param/aircrafts/$(arg uav_name)/urdf/can_model.urdf.xacro"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="world_name" value="$(find last_letter_2)/config/param/worlds/myworld.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'"/>
  <param name="can" command="$(find xacro)/xacro '$(arg can_model)'"/>
  <param name="use_gui" value="$(arg gui)"/>

  <rosparam command="load" file="$(find last_letter_2)/config/param/HID.yaml" />
  <rosparam command="load" file="$(find last_letter_2)/config/param/aircrafts/$(arg uav_name)/aerodynamics.yaml" />
  <rosparam command="load" file="$(find last_letter_2)/config/param/aircrafts/$(arg uav_name)/propulsion.yaml" />
  <rosparam command="load" file="$(find last_letter_2)/config/param/aircrafts/$(arg uav_name)/rigidBody.yaml" />
  <rosparam command="load" file="$(find last_letter_2)/config/param/aircrafts/$(arg uav_name)/init.yaml" />
  <rosparam command="load" file="$(find last_letter_2)/config/param/environment.yaml" />
  <rosparam command="load" file="$(find last_letter_2)/config/param/world.yaml" />
  <rosparam command="load" file="$(find last_letter_2)/config/param/simulation.yaml" />

   <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
         args="-z 1 -urdf -model plane -param robot_description" respawn="false" output="screen">
  </node> 
  <node pkg="joy" type="joy_node" name="joystick" output="screen" >
    <param name="dev" value="/dev/input/js0" />
    <param name="deadzone" value="0.01" />
  </node>
  <node pkg="last_letter_2" name="joy2chan" type="joy2chan" output="screen" />
  <node pkg="last_letter_2" name="controller" type="controller" output="screen" />
  <node pkg="last_letter_2" name="core" type="core" output="screen" />
  <node pkg="last_letter_2" name="srv_client" type="srv_client" output="screen" />

  <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher">
    <remap from="robot_description" to="robot_description"/>
    <remap from="joint_states" to="last_letter_2/joint_states"/>
    <param name="ignore_timestamp" value="true"/>
  </node>
</launch>
    
    